.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: #fff;
    
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

    margin-left: 10px;
    margin-top: 8px;

}

.button-link-thin {
    display: inline-block;
    padding: 0px 20px;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: #fff;
    
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 8px;
}
.ashura-button {
    background-color: #AF4C50;
}
.ashura-button:hover {
    background-color: #FFdddd;
    color: #AF4C50;
}
.tenkabito-button {
    background-color: #dd8520;
}
.tenkabito-button:hover {
    background-color: #FFddaa;
    color: #dd8520;
}
.soudaisho-button {
    background-color: #4CAF50;
}
.soudaisho-button:hover {
    background-color: #ccffcc;
    color: #4CAF50;
}
.onimusha-button {
    background-color: #ba55d3;
}

.onimusha-button:hover {
    background-color: #ffccff;
    color: #ba55d3;
}
.aramusha-button {
    background-color: #335fe1;
}
.aramusha-button:hover {
    background-color: #ccccff;
    color: #335fe1;
}

.server-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.server-button {
    display: inline-block;
    width: 64px;
    margin: 4px 4px 4px 4px;
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #555566;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.server-button:hover {
    background-color: #0056b3;
    color: #fff;
}

.compare-unions-button {
    background-color: #ddddee;
}
.compare-unions-button:hover {
    background-color: #FFddaa;
    color: #dd8520;
}
.compare-button-text {
    color: #323264;
}