div#container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
}
.input-unions {
    border: 1;
}
table {
    border-radius: 4px;
}
th.server-input {
    text-align: center;
    width: 100px;
    background-color: #525284;
    color: white;
    
}
th.union-input {
    text-align: center;
    width: 160px;
    background-color: #525284;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#button-compare {
    margin: auto;
}

.button {
    margin: 0 5px;
    padding: 5px 10px;
}

.select-box {
    margin: 0 10px;
}
p {
    text-align: center;
    padding-top: 16px;
}
h2 {
    padding-bottom: 8px;
    text-align: center;
}
h3 {
    padding-top: 32px;
    padding-bottom: 8px;
    text-align: center;
}

table {
    border-collapse: collapse;
    /* width: 80%; */
    margin-top: 20px;
    margin:auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}
@media screen and (max-width: 600px) {
    .chart-container {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }
}

div#form-link {
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
}

th.first-union {
    background-color: rgb(255, 99, 132);
    padding: 8px;
}

th.second-union {
    background-color: rgb(75, 192, 192);
}

div#compare-union-name {
    background-color: white;
    padding: 0px 8px 0px 8px;
}

td.number {
    text-align: right;
    font-family: consolas, monaco, "Lucida Console", monospace;
    padding-right: 16px;
    border-right: 0px;
    border-left: 0px;
}

.first-column {
    border-left: 0px;
}

th.comparing-table {
    border-top: 0px;
}

td.final-row {
    border-bottom: 0px;
}